h3
{
    cursor:pointer;
}
.personaldet
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:0px;
  padding-top: 0px;
  margin-bottom: 50px;
}
.profile
{
  
  width: 80px;
  border-radius: 45px;
  border-style: groove;
  border-color: aqua;
  margin-left: 35px;
  border-width: 4px;
}
.profile:hover
{
  opacity: 0.9;

}
.profile:active
{
  opacity:0.8;
  border-color: rgb(72, 245, 72);
}